appdirs==1.4.3
certifi==2020.4.5.1
cfgv==3.1.0
chardet==3.0.4
decorator==4.4.2
distlib==0.3.0
docopt==0.6.2
filelock==3.0.12
identify==1.4.15
idna==2.9
imageio==2.8.0
imageio-ffmpeg==0.4.1
moviepy==1.0.2
nodeenv==1.3.5
num2words==0.5.10
numpy==1.18.3
Pillow==7.1.2
pre-commit==2.3.0
proglog==0.1.9
PyYAML==5.3.1
requests==2.23.0
scipy==1.4.1
six==1.14.0
TextGrid==1.5
toml==0.10.0
tqdm==4.45.0
urllib3==1.25.9
virtualenv==20.0.18
webvtt-py==0.4.5
youtube-dl==2020.3.24
pocketsphinx==0.1.12
